In [1]:
# Importing all necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Importing csv file
data = pd.read_csv(r"D:\Studies\Internship\Credit_Card_Default_pred\notebooks\data\UCI_Credit_Card.csv")
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [3]:
# Drop feature id
data.drop('ID',axis=1,inplace=True)

In [4]:
data.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [5]:
data.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [9]:
# Extract features (independent variables) by dropping the target variable ('default.payment.next.month')
X = data.drop('default.payment.next.month',axis=1)
# Extract the target variable ('default.payment.next.month')
y = data['default.payment.next.month']

In [11]:
X.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
1,120000.0,2,2,2,26,-1,2,0,0,0,...,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,90000.0,2,2,2,34,0,0,0,0,0,...,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,50000.0,2,2,1,37,0,0,0,0,0,...,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0

In [12]:
y.head()

0    1
1    1
2    0
3    0
4    0
Name: default.payment.next.month, dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   30000 non-null  float64
 1   SEX                         30000 non-null  int64
 2   EDUCATION                   30000 non-null  int64
 3   MARRIAGE                    30000 non-null  int64
 4   AGE                         30000 non-null  int64
 5   PAY_0                       30000 non-null  int64
 6   PAY_2                       30000 non-null  int64
 7   PAY_3                       30000 non-null  int64
 8   PAY_4                       30000 non-null  int64
 9   PAY_5                       30000 non-null  int64
 10  PAY_6                       30000 non-null  int64
 11  BILL_AMT1                   30000 non-null  float64
 12  BILL_AMT2                   30000 non-null  float64
 13  BILL_AMT3                   30000 non-null  float64
 14  BILL_AMT4                   30000 non-null  float64
 15  BILL_AMT5                   30000 non-null  float64
 16  BILL_AMT6                   30000 non-null  float64
 17  PAY_AMT1                    30000 non-null  float64
 18  PAY_AMT2                    30000 non-null  float64
 19  PAY_AMT3                    30000 non-null  float64
 20  PAY_AMT4                    30000 non-null  float64
 21  PAY_AMT5                    30000 non-null  float64
 22  PAY_AMT6                    30000 non-null  float64
 23  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(11)
memory usage: 5.5 MB

In [14]:
# Define which columns should be ordinal-encoded and which should be scaled
# List of numerical columns that will be scaled
numerical_cols = ['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5',
                    'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']


# List of categorical columns that will be ordinal-encoded
categorical_cols = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']

In [15]:
# Import necessary tools from scikit-learn
from sklearn.preprocessing import StandardScaler   # StandardScaler is used for scaling (normalizing) numerical features.

# Import tools for constructing pipelines and column transformations
from sklearn.pipeline import Pipeline              # Pipeline is used to chain multiple transformers and an estimator into a single object.
from sklearn.compose import ColumnTransformer      # ColumnTransformer is used to apply different transformers to different columns of a DataFrame.

In [18]:
# Define a pipeline for numerical feature scaling
num_pipeline = Pipeline(
    steps=[
        ('scaler', StandardScaler())  # StandardScaler is used to scale (normalize) numerical features.
    ]
)

In [19]:
# For Categorigal Pipeline
cat_pipeline=Pipeline(
    steps=[
    ('scaler',StandardScaler())
    ]
)

In [20]:
# Define a ColumnTransformer for preprocessing numerical and categorical features separately
preprocessor = ColumnTransformer([
    ('num_pipeline', num_pipeline, numerical_cols),  # Apply num_pipeline to numerical_cols
    ('cat_pipeline', cat_pipeline, categorical_cols)  # Apply cat_pipeline to categorical_cols
])

In [21]:
# Import train_test_split function from scikit-learn
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
# X_train: Features for training
# X_test: Features for testing
# y_train: Target variable for training
# y_test: Target variable for testing
# test_size=0.30: Splitting the data into 70% training and 30% testing
# random_state=30: Random seed for reproducibility
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=30)

In [22]:
# Apply the preprocessor (ColumnTransformer) to transform the training features
preprocessor.fit_transform(X_train)

array([[-1.13900338, -1.03192059, -0.67187686, ..., -0.66541934,
        -1.53293757, -0.61829974],
       [-0.13853957,  0.59977506, -0.69393503, ..., -0.66541934,
        -0.64726092, -1.48873579],
       [ 0.63104798, -0.70558146,  0.98911183, ...,  1.91087236,
         2.009769  ,  1.9930084 ],
       ...,
       [ 0.70800674, -0.37924233,  0.71893285, ...,  0.19334456,
         0.23841572,  0.25213631],
       [-0.90812712,  0.27343593, -0.68598978, ..., -0.66541934,
        -0.64726092, -0.61829974],
       [ 0.938883  ,  1.90513158, -0.6705302 , ..., -0.66541934,
        -0.64726092, -0.61829974]])

In [23]:
# Apply the preprocessor (ColumnTransformer) to transform the testing features
preprocessor.transform(X_test)

array([[-1.13900338,  0.16465622, -0.45942889, ...,  0.19334456,
         2.009769  ,  0.25213631],
       [ 0.32321296,  1.0348939 , -0.69124173, ..., -1.52418325,
        -1.53293757, -1.48873579],
       [ 1.86238806, -0.92314088, -0.59443085, ...,  0.19334456,
        -0.64726092, -0.61829974],
       ...,
       [-1.13900338, -0.37924233, -0.48761433, ...,  0.19334456,
         0.23841572,  0.25213631],
       [-0.6002921 , -1.35825972,  0.58546607, ..., -0.66541934,
         0.23841572, -0.61829974],
       [ 0.86192425,  1.25245332,  0.55155735, ...,  0.19334456,
         0.23841572,  0.25213631]])

In [24]:
# Get the output feature names after applying the preprocessor (ColumnTransformer)
preprocessor.get_feature_names_out()

array(['num_pipeline__LIMIT_BAL', 'num_pipeline__AGE',
       'num_pipeline__BILL_AMT1', 'num_pipeline__BILL_AMT2',
       'num_pipeline__BILL_AMT3', 'num_pipeline__BILL_AMT4',
       'num_pipeline__BILL_AMT5', 'num_pipeline__BILL_AMT6',
       'num_pipeline__PAY_AMT1', 'num_pipeline__PAY_AMT2',
       'num_pipeline__PAY_AMT3', 'num_pipeline__PAY_AMT4',
       'num_pipeline__PAY_AMT5', 'num_pipeline__PAY_AMT6',
       'cat_pipeline__SEX', 'cat_pipeline__EDUCATION',
       'cat_pipeline__MARRIAGE', 'cat_pipeline__PAY_0',
       'cat_pipeline__PAY_2', 'cat_pipeline__PAY_3',
       'cat_pipeline__PAY_4', 'cat_pipeline__PAY_5',
       'cat_pipeline__PAY_6'], dtype=object)

In [25]:
# Apply preprocessor to transform and create DataFrames for training and testing features
X_train = pd.DataFrame(preprocessor.fit_transform(X_train), columns=preprocessor.get_feature_names_out())
X_test = pd.DataFrame(preprocessor.transform(X_test), columns=preprocessor.get_feature_names_out())

In [29]:
# Display the first few rows of X_train DataFrame
print("X_train:")
print(X_train.head())

X_train:
   num_pipeline__LIMIT_BAL  num_pipeline__AGE  num_pipeline__BILL_AMT1  \
0                -1.139003          -1.031921                -0.671877
1                -0.138540           0.599775                -0.693935
2                 0.631048          -0.705581                 0.989112
3                 1.477594           0.382216                -0.691242
4                 0.861924           0.926114                 1.462959

   num_pipeline__BILL_AMT2  num_pipeline__BILL_AMT3  num_pipeline__BILL_AMT4  \
0                -0.670261                -0.667972                -0.683707
1                -0.690625                -0.651531                -0.586762
2                 1.084703                 1.124524                 1.227215
3                -0.687837                -0.674425                -0.671125
4                 1.600834                 1.080023                 1.177725

   num_pipeline__BILL_AMT5  num_pipeline__BILL_AMT6  num_pipeline__PAY_AMT1  \
0                -0.669670                -0.629882               -0.259967
1                -0.662746                -0.652089               -0.333370
2                 1.416612                 1.498716                0.010071
3                -0.651354                -0.533990               -0.333370
4                 1.212598                 1.283075                0.121951

   num_pipeline__PAY_AMT2  ...  num_pipeline__PAY_AMT6  cat_pipeline__SEX  \
0               -0.219680  ...               -0.289958          -1.231086
1               -0.166585  ...               -0.289958          -1.231086
2               -0.060316  ...               -0.021965           0.812291
3               -0.237431  ...               -0.289958          -1.231086
4               -0.059174  ...               -0.067667          -1.231086

   cat_pipeline__EDUCATION  cat_pipeline__MARRIAGE  cat_pipeline__PAY_0  \
0                 0.189892                0.855242            -0.872883
1                -1.076056               -1.060909             0.901613
2                -1.076056                0.855242             1.788862
3                -1.076056               -1.060909             0.901613
4                 0.189892               -1.060909             0.014365

   cat_pipeline__PAY_2  cat_pipeline__PAY_3  cat_pipeline__PAY_4  \
0            -0.720412            -0.694606            -0.665419
1            -1.558100            -0.694606            -0.665419
2             1.792653             1.821359             1.910872
3            -1.558100            -1.533261            -1.524183
4             0.117276             0.144049             0.193345

   cat_pipeline__PAY_5  cat_pipeline__PAY_6
0            -1.532938            -0.618300
1            -0.647261            -1.488736
2             2.009769             1.993008
3            -0.647261            -0.618300
4             0.238416             0.252136

[5 rows x 23 columns]

In [30]:
# Display the first few rows of X_test DataFrame
print("\nX_test:")
print(X_test.head())

X_test:
   num_pipeline__LIMIT_BAL  num_pipeline__AGE  num_pipeline__BILL_AMT1  \
0                -1.139003           0.164656                -0.459429
1                 0.323213           1.034894                -0.691242
2                 1.862388          -0.923141                -0.594431
3                 0.323213          -0.705581                -0.547258
4                 0.015378           0.382216                 0.123672

   num_pipeline__BILL_AMT2  num_pipeline__BILL_AMT3  num_pipeline__BILL_AMT4  \
0                -0.553567                -0.517827                -0.495906
1                -0.687837                -0.674425                -0.671125
2                -0.469755                -0.450088                -0.041830
3                -0.687879                -0.674468                -0.671172
4                -0.217954                -0.364491                -0.309084

   num_pipeline__BILL_AMT5  num_pipeline__BILL_AMT6  num_pipeline__PAY_AMT1  \
0                -0.481219                -0.521625               -0.202513
1                -0.662746                -0.652089               -0.333370
2                -0.367911                -0.075875                0.603235
3                -0.652030                -0.620966               -0.333370
4                -0.413231                -0.592753               -0.041678

   num_pipeline__PAY_AMT2  ...  num_pipeline__PAY_AMT6  cat_pipeline__SEX  \
0               -0.178393  ...               -0.234427          -1.231086
1               -0.237431  ...               -0.289958           0.812291
2                0.395304  ...               -0.269467          -1.231086
3               -0.237431  ...               -0.211604           0.812291
4               -0.040636  ...                0.127691           0.812291

   cat_pipeline__EDUCATION  cat_pipeline__MARRIAGE  cat_pipeline__PAY_0  \
0                 0.189892               -1.060909             0.014365
1                 0.189892                0.855242             0.901613
2                -1.076056                0.855242             0.014365
3                -1.076056                0.855242            -1.760132
4                -1.076056                0.855242             0.014365

   cat_pipeline__PAY_2  cat_pipeline__PAY_3  cat_pipeline__PAY_4  \
0             0.117276             0.144049             0.193345
1            -1.558100            -1.533261            -1.524183
2            -0.720412            -0.694606             0.193345
3            -1.558100            -1.533261            -1.524183
4             0.117276             0.144049             0.193345

   cat_pipeline__PAY_5  cat_pipeline__PAY_6
0             2.009769             0.252136
1            -1.532938            -1.488736
2            -0.647261            -0.618300
3            -1.532938            -1.488736
4             0.238416            -0.618300

[5 rows x 23 columns]

In [38]:
# Import necessary libraries for model training and evaluation
from sklearn.model_selection import train_test_split     # Train/test split
from sklearn.linear_model import (                       # Linear models
    LogisticRegression, Lasso, Ridge, ElasticNet
)
from sklearn.svm import SVC                              # Support Vector Machine (SVM)
from sklearn.tree import DecisionTreeClassifier          # Decision Tree Classifier
from sklearn.naive_bayes import GaussianNB               # Gaussian Naive Bayes
from sklearn.neighbors import KNeighborsClassifier       # K-Nearest Neighbors (KNN)
from sklearn.ensemble import (                           # Ensemble models
    RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
)
from sklearn.metrics import (                            # Metrics for model evaluation
    confusion_matrix, f1_score, precision_score, recall_score, 
    accuracy_score, roc_auc_score, classification_report, 
    roc_curve, auc, r2_score, mean_absolute_error, mean_squared_error
)

In [34]:
def evaluate_model(true, predicted):
    """
    Evaluate a regression model using different metrics.

    Parameters:
    - true: array-like, true target values
    - predicted: array-like, predicted target values

    Returns:
    - mae: float, mean absolute error
    - rmse: float, root mean squared error
    - r2_square: float, R-squared score
    """
    # Calculate mean absolute error
    mae = mean_absolute_error(true, predicted)
    
    # Calculate mean squared error
    mse = mean_squared_error(true, predicted)
    
    # Calculate root mean squared error
    rmse = np.sqrt(mse)
    
    # Calculate R-squared score
    r2_square = r2_score(true, predicted)
    
    return mae, rmse, r2_square

In [39]:
# Define a dictionary of classification models to train
models = {
    'SVM': SVC(C=0.01, degree=5, kernel='poly'),                   # Support Vector Machine with polynomial kernel
    'KNN': KNeighborsClassifier(),                                 # K-Nearest Neighbors
    'DecisionTree': DecisionTreeClassifier(),                       # Decision Tree Classifier
    'GradientBoosting': GradientBoostingClassifier(),               # Gradient Boosting Classifier
    'LogisticRegression': LogisticRegression(max_iter=1000),        # Logistic Regression
    'AdaBoosting': AdaBoostClassifier(),                            # AdaBoost Classifier
    'Naive Bayes': GaussianNB()                                     # Gaussian Naive Bayes
}

In [40]:
# Initialize empty lists to store trained models and evaluation metrics
trained_model_list = []  # List to store trained models
model_list = []          # List to store model names
accuracy_list = []       # List to store accuracy scores
precision_list = []      # List to store precision scores
recall_list = []         # List to store recall scores
f1_list = []             # List to store F1 scores

In [41]:
# Extract model names from the dictionary keys
model_names = list(models)

# Print the list of model names
print(model_names)

['SVM', 'KNN', 'DecisionTree', 'GradientBoosting', 'LogisticRegression', 'AdaBoosting', 'Naive Bayes']

In [42]:
# Iterate over the models dictionary and print each model
for i in range(len(list(models))):
    # Get the model object from the values of the models dictionary
    model = list(models.values())[i]
    
    # Print the model object
    print(model)

SVC(C=0.01, degree=5, kernel='poly')
KNeighborsClassifier()
DecisionTreeClassifier()
GradientBoostingClassifier()
LogisticRegression(max_iter=1000)
AdaBoostClassifier()
GaussianNB()

In [43]:
# Get the keys of the models dictionary
model_keys = models.keys()

# Print the keys
print(model_keys)

dict_keys(['SVM', 'KNN', 'DecisionTree', 'GradientBoosting', 'LogisticRegression', 'AdaBoosting', 'Naive Bayes'])

In [44]:
# Get the values (model objects) of the models dictionary
model_values = models.values()

# Print the values
print(model_values)

dict_values([SVC(C=0.01, degree=5, kernel='poly'), KNeighborsClassifier(), DecisionTreeClassifier(), GradientBoostingClassifier(), LogisticRegression(max_iter=1000), AdaBoostClassifier(), GaussianNB()])

In [46]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    # Make Predictions
    y_pred = model.predict(X_test)

    # This is a validation (test) score
     # Calculate evaluation metrics
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)


    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("Accuracy:", accuracy)
    print("Precision:", precision)
    print("Recall:", recall)
    print("F1 Score:", f1)

    accuracy_list.append(accuracy)
    precision_list.append(precision)
    recall_list.append(recall)
    f1_list.append(f1)

    print('=' * 35)
    print('\n')

SVM
Model Training Performance
Accuracy: 0.7886666666666666
Precision: 0.6268656716417911
Recall: 0.04338842975206612
F1 Score: 0.08115942028985508
===================================


KNN
Model Training Performance
Accuracy: 0.7966666666666666
Precision: 0.5407066052227343
Recall: 0.36363636363636365
F1 Score: 0.43483631871525635
===================================


DecisionTree
Model Training Performance
Accuracy: 0.7226666666666667
Precision: 0.37261146496815284
Recall: 0.4230371900826446
F1 Score: 0.3962264150943396
===================================


GradientBoosting
Model Training Performance
Accuracy: 0.8226666666666667
Precision: 0.6539855072463768
Recall: 0.37293388429752067
F1 Score: 0.47500000000000003
===================================


LogisticRegression
Model Training Performance
Accuracy: 0.814
Precision: 0.6866096866096866
Recall: 0.24896694214876033
F1 Score: 0.3654283548142532
===================================


AdaBoosting
Model Training Performance
Accuracy: 0.8198888888888889
Precision: 0.6628748707342296
Recall: 0.33109504132231404
F1 Score: 0.44161212538753014
===================================


Naive Bayes
Model Training Performance
Accuracy: 0.624
Precision: 0.32876064333017974
Recall: 0.7179752066115702
F1 Score: 0.4510058403634004
===================================